body{
    background-image: url(/html/resources/orang.jpg);
    border: none;
    font-family: 'Quicksand', sans-serif;
}
.button{
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    position: relative;
    box-sizing: border-box;
    top: 200px;
    left: 450px;
    }

    .button:hover {
        color: #ffffff !important;
        background: black;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        text-decoration: none;
        }

        .by {
            position: relative;
            top: 320px;
            left: 500px;
        }

        .hng {
            position: relative;
            top: 100px;
            left: 200px;
        }