<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
    </script>

    <script src="/script/tableScript.js"></script>

    <title>Document</title>
</head>

<body>
        <div id="companyTable" style="display:flex;justify-content: center">

                <table class="table" id="reviewTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Company</th>
                            <th>Delivery Time</th>
                            <th>Rating</th>
                            <th>+Info</th>
                        </tr>
                    </thead>
                </table>
            </div>
</body>

</html>