<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome to HungUp!
    </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
    </script>
    <script src="/script/tableScript.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/indexCSS.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="bof">
            <div class="hng"><img src="/resources/hungup.png"></div>
        </div>
        <div class="by">
            <p class="text1">by Alpha Team</p>
        </div>
    </div>

    <div class="header">
        <div class="info">
            <div class="button_cont"><a class="button" href="#myInput" rel="nofollow noopener">Begin your search</a>
            </div>
            <h1 id="title">For your inpatient ass</h1>
            <div class="meta">
                <a href="https://github.com/Aescudeiro/HungUp" target="_blank" class="author"></a><br>
                <a href="https://github.com/Aescudeiro/HungUp" target="_blank"></a>
            </div>
        </div>
    </div>

    <div class="hide">


        <div class="disp" style="display:flex;justify-content: center">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        </div>
        <div id="companyTable" style="display:flex;justify-content: center">
            <table class="table" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Company</th>
                        <th>Delivery Time</th>
                        <th>Rating</th>
                        <th>+Info</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="review" class="container">
        <form>
                        <div class="form-group">
                          <label>Name</label>
                          <input id="formName" type="text" class="form-control" id="formGroupExampleInput" placeholder="First and Last Name">
                        </div>
                        <div class="form-group">
                          <label>Rating</label>
                          <input id="formRating" type="number" min="1" max="5" class="form-control" id="formGroupExampleInput2">
                        </div>
                        <div class="form-group">
                                <label>Days</label>
                                <input id="formDays" type="number" class="form-control" id="Days to arrive">
                        </div>
                        <div class="form-group">
                                <label>Review</label>
                                <input id="formDescription" type="text" class="form-control" id="formGroupExampleInput" placeholder="Add description for the review">
                            </div>
                        
                    <input class="subBtn" type="submit" onclick="addReview()" value="Send the review">
        </form>
    </div>

    <div class="show">
        <button id="formShow" type="button" onclick="addReviewForm()" class="btn btn-dark">Add Review</button>
        <button id="back" type="button" onclick="menu()" class="btn btn-dark">Back</button>
        <div id="reviewTable" style="display:flex;justify-content: center">
            <table class="table" id="reviewsTable">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>Days</th>
                        <th>Review</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>

</html>