<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="tableStyle.css">
        <script src="tableScript.js"></script>

        
    </head>
    <body>
        <div id="companyTable" align="center">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

            <table id="myTable">
              <tr class="header">
                <th>#</th>
                <th>Company</th>
                <th>Delivery Time</th>
              </tr>
              <tr>
                <td>Name1</td>
                <td>Company1</td>
                <td>time1</td>
              </tr>
              <tr>
                <td>Name2</td>
                <td>Company2</td>
                <td>time2</td>
              </tr>
              <tr>
                <td>Name3</td>
                <td>Company3</td>
                <td>time3</td>
              </tr>
              <tr>
                <td>Name4</td>
                <td>Company4</td>
                <td>time4</td>
              </tr>
            </table>
            </div>
    </body>
</html>